body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 1.6em;
}

.page-header__title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
}

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 80rem;
  min-width: 15rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.slider__list {
  margin-bottom: 2.5rem;
}

.slider__input {
  appearance: none;
}

.slider__list {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1; 
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  max-width: 80rem;
  padding: 0;
  list-style: none;
  transition: transform 0.45s ease;
}

.slider__item {
  width: 100%;
  flex-shrink: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.slider__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.slider__controls {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  display: flex;
  justify-content: end;
  gap: 1.25rem;
  margin-left: 2.5rem;
}

.slider__toggle {
  display: block;
  width: 1.56rem;
  height: 1.56rem;
  background-color: #ccc;
  border: 0.44rem solid;
  border-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: border-color, background-color 0.45s ease;
}

.slider__toggle:hover {
  background-color: #666;
}

#slide1:checked ~ .slider__list {
  transform: translateX(0);
}

#slide2:checked ~ .slider__list {
  transform: translateX(calc(-100% - 2.5rem));
}

#slide3:checked ~ .slider__list {
  transform: translateX(calc(-200% - 5rem));
}

#slide4:checked ~ .slider__list {
  transform: translateX(calc(-300% - 7.5rem));
}

#slide1:checked ~ .slider__controls .slider__toggle:nth-child(1),
#slide2:checked ~ .slider__controls .slider__toggle:nth-child(2),
#slide3:checked ~ .slider__controls .slider__toggle:nth-child(3),
#slide4:checked ~ .slider__controls .slider__toggle:nth-child(4) {
  border-color: green;
  background-color: #ccc;
  cursor: initial;
}

.slider__toggle:active {
  /*background-color: transparent;*/
}

.slider__caption-list {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  border-radius: 1rem;
  overflow: hidden;
}

.slider__caption {
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.6rem;
  transition: 0.45s ease;
  box-sizing: border-box;
}

#slide1:checked ~ .slider__caption-list .slider__caption {
  transform: translateX(0);
}

#slide2:checked ~ .slider__caption-list .slider__caption {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider__caption-list .slider__caption {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider__caption-list .slider__caption {
  transform:  translateX(-300%);
}

@media (max-width: 1024px) {
  .page-header__title {
    font-size: 2rem;
  }

  .slider {
    display: block;
  }

  .slider__controls {
    justify-content: center;
    margin: 0 0 1.875rem 0;
  }
}
